.navbar {
    background-image:url("../img/fifa.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color:white;
    height:100px;
    padding: 8px;
    padding-top:0.5%;
    border-bottom: solid;
    border-bottom-color: rgba(245, 245, 245, 0.877);
    border-bottom-width:5px;
    text-align: center;
    top:-100px;
    width:100%
  }

  body {
    font-family: 'Roboto Slab', serif;
  }

  .first_div {
    width:100%;
     height:120px;
    position: fixed;
    z-index: 5;
   }

  .dropdown {
    position: relative;
    display: inline-block;
    color: white;
    margin-right:2%;
    margin-left:3%;
    padding: 16px;
    padding-right: 22px;
    font-size: 20px;
    margin-top:2%;
    font-weight:bold;
    border: none;
    cursor: pointer;
}

.dropdown p {
    padding-top:4px;
}

a{
    color:white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(46, 57, 107);
    width: 105px;
    padding: 6px 10px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

#oneimage {
    height:100px;
    width:120px;
   float: right;
 
 }

 .second_div {
    height:150px;
     width:100%;
     background-color: red;
     padding-top:119px;
  }

  .flag_class { 
    height:150px;
    float:left;
    width:20%;
    
}

.third_div {
    margin-top:30px;
    height:485px;
    
    }

.hero_img {
    background-image: url("../img/test_germany.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
  }

  .hero_text {
    font-size:15px; 
    font-family:Arial, Helvetica, sans-serif;
    color:black;
  }

  .oneword {
    color:red;
    font-size:30px;
  }

  .hero_con_link {
    color:purple;
  }

  .para_style {
    color:rgb(252, 18, 18);
    margin-top:-170px;
    position: absolute;
    font-family: fantasy;
    margin-left:390px;
    font-size:70px;
    font-weight:bold;
    letter-spacing: 3px;
  }


  .trending_style {
          margin-top:30px;
          margin-left:500px;
          font-size:50px;
  }

  .section_div_main {
    margin-top:30px;
  } 

  .section_div1 {
    height:620px;
    float:left; 
   background-color:rgb(46, 57, 107);
    }

  .three_imgdesc {
    height:250px;
     width:100%;
     position:relative;
  }

  .section_div2 {
    height:620px;
    float:left; 
    background-color:rgb(46, 57, 107);
    }

 .section_div3 {
    height:620px;
    float:left; 
    background-color:rgb(46, 57, 107);
    }

.section_heading {
    margin-top:18px;
    font-size:25px; 
    font-weight:bold;
    color:white;
    padding-left:40px;
    }     
    
.three_img {
    margin-top:10px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
      } 

.stories_heading {
    margin-top:30px;
    font-size: 30px;
}      
     
.stories_para {
    margin-left:0;
    font-size:15px;
    color:black;
}

.maradona_img{
   margin-right:10px;
   height:250px;
   width:200px; 
 }

 .urug_img{
    margin-right:10px;
    height:200px; 
    width:350px;
    margin-top:10px;
  }

 footer {
     height:70px;
     background-color:black;
     width:100%;
     margin-top:80px;
 }

 footer ul li {
     display:inline;
     padding-left:30px;
 }

 footer ul a {
    text-decoration: none;
    margin-top:30px;
  }

 .li_style li {
     padding-top:30px;
 }
    
 footer i {
     color:white;
    padding-right:10px;
 }

 .footer_div1 {
     padding-top:20px;
     float:left;
 }

 .footer_div2 {
     padding-top:20px;
     float:right;
 }

/* Second Website Css --------------------------------------------  */

.second_div2 {
    height:120px;
    width:100%;
    background-color:red;
}

.carlosalberto_img {
    margin-right:10px;
    height:250px;
    width:300px; 
  }

  .worldcup_lift {
    margin-right:10px;
    height:250px;
    width:350px; 
  }

  .section_div_main2 {
    margin-top:30px;
  }

  .section_div21 {
    height:280px;
    float:left; 
    }

    .starplsyers_separation{
        height:15px;
        width:100%;
        background-color: red;
    }

    .six_imgdesc {
        height:250px;
         width:100%;
      }

    .section_heading2 {
        margin-top:6px;
        font-size:15px; 
        font-weight:bold;
        color:black;
        text-align:center;
    }  

    .hero_img2 {
        background-image: url("../img/world-cup.jpg");
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1000px 500px;;
        position: relative;
        z-index: -1;
      }

      .para_style2 {
        color:rgba(250, 173, 7, 0.842);
        margin-top:-350px;
        position: absolute;
        z-index: -1;
        font-family: fantasy;
        margin-left:590px;
        font-size:40px;
        font-weight:bold;
        letter-spacing: 3px;
      }

      .cupyear_style2 {
        color:rgba(250, 173, 7, 0.842);
        margin-top:-300px;
        position: absolute;
        font-family: fantasy;
        margin-left:630px;
        font-size:35px;
        font-weight:bold;
        letter-spacing: 3px;
      }

      .formation_div {
        height:630px;
    }

    .formation_img {
        position:relative; 
         height:550px;
         width:100%;
    }

    .next_match_div {
        width:100%;
         height:330px;
    }

  
    .currentsquad_style {
        margin-top:30px;
        margin-left:300px;
        font-size:50px;
    }

    .vs_teamnames {
        padding-top:10px;
        text-align: center;
         height:20px;
    }

   .brazil_text {
       padding-left: 190px;
       float:left;
       font-weight:bold;
       font-size:20px;
   }

   .vs_text {
    padding-left: 220px;
    float:left;
    font-weight:bold;
    font-size:20px;
   }

   .mexico_text {
    padding-left: 190px;
    float:left;
    font-weight:bold;
    font-size:20px;
    }

    .vs_tstyle {
        clear: both;
        text-align: center;
        font-weight:bold;
        font-size:20px;
    }